@font-face {
  font-family: blissful-thinking;
  src: url('fonts/BlissfulThinking.otf');
}

html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img, strike, 
strong, sub, sup, ol, ul, li, footer, header, hgroup, menu, nav, 
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

:root {
  --box-shadow-colour: rgba(77, 84, 76, 0.339);
}

html, body {
  height: 100%;
  font-family: blissful-thinking;
}

body {
  line-height: 1;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

nav {
  padding: 20px;
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 60px;
}

nav, button {
  background-color: plum;
}

nav > * {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1.5rem;
  row-gap: 0.9rem;
  align-items: center
}

nav section .title {
  align-items: center;
  font-size: 2rem;
}

nav > .main-links *, nav > .further-links * {
  height: 1.1rem;
  width: auto;
}

#dashboard-logo {
  width: 2em;
}

nav .icon {
  width: 1.7em;
  height: auto;
}

nav a, nav h1, header button {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(235, 224, 213);
  text-shadow: 1px 1px 1px black;
}

header {
  padding: 20px 40px;
  background-color: wheat;
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template-rows: 9fr 10fr;
  row-gap: 30px;
  box-shadow: 5px 5px 5px var(--box-shadow-colour);
}

header .top-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  font-size: 1.2rem;
}

header .top-row .icon {
  height: 1.5em;
  width: auto;
}

header .top-row .profile-picture {
  height: 3rem;
  width: auto;
  background-color: white;
  border-radius: 50%;
}

#search-icon {
  grid-column-start: 1;
  grid-column-end: 2;
}

header .bottom-row .profile-picture {
  height: 4rem;
  width: auto;
  background-color: white;
  border-radius: 50%;
}

.welcome-message-start {
  font-size: 1.3rem;
}

header input {
  height: 1.5rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

header button {
  border: none;
  padding: 0.5rem;
  border-radius: 1em;
}

header .bottom-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

header .bottom-row h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

main {
  padding: 20px;
  background-color: powderblue;
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: auto 1fr / 1fr 25%;
  gap: 60px 20px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  background-color: powderblue;
}

main section > .title {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
}

.dummy-project {
  font-size: 1.1rem;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  background-color: white;
  border-left: 10px solid rgb(27, 213, 98);
}

.dummy-project h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-actions {
  justify-self: end;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.project-actions .icon {
  height: 1.3em;
  width: auto;
}
.announcements-container, .trending-container {
  padding: 20px;
  background-color: white;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dummy-announcement {
  padding-bottom: 15px; 
}

.dummy-announcement:not(:first-of-type){
  border-top: 3px solid grey;
  padding-top: 15px;
}

.dummy-announcement > h3 {
  margin-bottom: 5px;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}

.trending-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.trending-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.trending h3, .trending p {
  height: 1em;
}

.dummy-user {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  column-gap: 20px;
}

.dummy-user .username {
  align-self: end;
}

.dummy-user .user-description  {
  align-self: start;
}

.dummy-user > img {
  grid-area: 1 / 1 / 3 / 2;
}

.dummy-project, .announcements-container, .trending-container {
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--box-shadow-colour);
}

main p {
  color: rgb(97, 97, 97);
}