html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img, strike, 
strong, sub, sup, ol, ul, li, footer, header, hgroup, menu, nav, 
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

nav {
  padding: 20px;
  background-color: plum;
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 60px;
}

nav > * {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1.5rem;
  row-gap: 0.1rem;
}

nav > .title img {
  width: 20%;
  height: auto;
}

nav > .main-links *, nav > .further-links * {
  height: 1.1rem;
  width: auto;
}

header {
  padding: 20px 40px;
  background-color: wheat;
  grid-area: 1 / 2 / 2 / -1;
  display: grid;
  grid-template: 9fr 10fr;
}

header .top-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

header input[type='submit'] {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 50%;
}

header input[type='text'] {
  border-radius: 10px;
  width: 100%;
  height: 50%;
}

header .bottom-row {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

main {
  padding: 20px;
  background-color: powderblue;
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template: 11fr 9fr / 1fr 25%;
  gap: 60px 20px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  background-color: powderblue;
}

section > h2 {
  margin-bottom: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 20px;
}

.dummy-project {
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  background-color: white;
}

.project-actions {
  display: flex;
  justify-content: end;
}

.announcements-container, .trending-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.dummy-announcement {
  padding-bottom: 15px; 
}

.dummy-announcement:not(:first-of-type){
  border-top: 3px solid grey;
  padding-top: 15px;
}

.dummy-announcement > h3 {
  margin-bottom: 5px;
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}

.dummy-user {
  display: grid;
  grid-template: 1fr 1fr / 1fr 2fr;
  align-content: center;
}

.dummy-user > img {
  grid-area: 1 / 1 / 3 / 2;
}

#dashboard-logo {
  width: 100%;
  height: auto;
}